.shopCategory-banner {
  display: block;
  margin: 30px auto;
  width: 80%;
}
.shopCategory-indexSort {
  display: flex;
  margin: 0px 170px;
  justify-content: space-between;
  align-items: center;
}
.shopCategory-sort {
  padding: 10px 20px;
  border-radius: 40px;
  border: 1px solid #888;
}
.shopCategory-products {
  margin: 20px 170px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 80px;
}
.shopCategory-indexSort p span {
  font-weight: 600px;
  color: #888;
}

.shopCategory-loadMore button {
  border: none; /* Remove border */
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 100px auto;
  width: 220px;
  height: 70px;
  border-radius: 75px;
  background: #ededed;
  color: #787878;
  font-weight: 600;
  font-size: 20px;
  cursor: pointer;
}

.shopCategory-loadMore button:hover {
  color: #358a39; /* Optional: change color on hover for better feedback */
}
.scrolling-text-container {
  overflow: hidden;
  white-space: nowrap;
  background-color: #f8f8f8; /* Background color */
  padding: 10px 0; /* Space around text */
  border: 1px solid #ccc; /* Optional border */
  position: relative;
  margin: 70px 0px;
}

.scrolling-text {
  display: inline-block;
  animation: scroll 15s linear infinite; /* Adjust duration for speed */
  padding-left: 100%; /* Start padding so the text is off-screen */
}

@keyframes scroll {
  0% {
    transform: translateX(0); /* Start at the beginning */
  }
  100% {
    transform: translateX(-100%); /* Move left completely off-screen */
  }
}
